body {
    margin-left: 1em;
    margin-right: 1em;
}

.channel_status_control {
    background-color: #cc9;
}

#nowplaying {
}


.connection-status {
    font-size: 60%;
};



.decode_stats_-_ok { background-color: hsl(120, 90%, 92%); }
.decode_stats_-_90 { background-color: hsl( 80, 90%, 92%); }
.decode_stats_-_80 { background-color: hsl( 60, 90%, 92%); }
.decode_stats_-_70 { background-color: hsl( 30, 90%, 92%); }
.decode_stats_-_bad { background-color: hsl( 0, 90%, 92%); }



.websocket_connected_-_disconnected { background-color: hsl(0, 90%, 92%); }
.websocket_connected_-_timeout { background-color: hsl(30, 90%, 92%); }
.websocket_connected_-_connected { background-color: hsl(60, 90%, 92%); }
.websocket_connected_-_connecting { background-color: hsl(90, 90%, 92%); }
.websocket_connected_-_live { background-color: hsl(120, 90%, 92%); }



#channelboard {
    background-color: rgba(200,200,200,0.2);
    text-align: center;
    margin: 0.1ex;
    border-radius: 4px;
    width: 18ex;
    display: inline-block;
    float: left;
}

.tg_followed {
    background-color: hsl(210, 35%, 75%);
}

.channel_xmit.tg_followed {
    background-color: hsl(120, 80%, 70%);
    font-weight: bold;
}


.tg_nofollow {}

.tg_control {
    background-color: hsl(60, 90%, 92% );
}

.channel_hover {
    display: none;
    position: absolute;
    background: #c9c6c6;
    width: 20ex;
    color: black;
}

.channel_freq {
    font-weight: bold;
}
.channel_level {
    display: inline-block; 
    width: 5ex; 
    text-align: center; 
}

.channel_row_xmit_-_yes {
    color: black;
}
.channel_row_xmit_-_no {
    color: grey;
}


.channel_xmit_-_yes { 
    background-color: hsl(120, 50%, 80%); 
    border-radius: 30px; 
}
.channel_xmit_-_no { }

.channel_idle { }

.channel_tg_idno { 
    width: 5ex; 
    display: inline-block; 
    text-align: right;
}
.channel_tg_category {}

.channel_tg_short { 
    width: 12ex; 
    display: inline-block; 
    text-align: right;
}

.channel_tg_long {}




#talkgroupboard {
    display: inline-block;
    width: 50ex;
}

#tg_filter_input {
    width: 10ex;
}




.talkgroup_tg_filtered_-_yes {
    visibility: hidden;
    height: 0;
}

.talkgroup_tg_filtered_-_no { }

.talkgroup_tg_following_-_yes {
    background: hsl(210, 35%, 75%);
}

.talkgroup_tg_following_-_no { }

.talkgroup_xmit_-_yes {
    font-weight: bold;
    background: hsl(120, 60%, 80%);
}

.talkgroup_tg_following_-_yes > .talkgroup_xmit_-_yes {
    font-weight: bold;
    background: hsl(120, 80%, 60%);
}


.talkgroup_xmit_-_no {
}


.talkgroup_tg_idno {
    width: 6ex;
    display: inline-block;
    text-align: right;
    font-family: Consolas, courier new, courier, monospace;
}


.talkgroup_tg_short {
    width: 12ex;
    display: inline-block;
}

.talkgroup_tg_long {
    padding-left: 8ex;
}

.inlinelabel {
    display: inline;
}